// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// Footer
$FOOTER_BACKGROUND: #979797ec;

// Modal
$MODAL_BACKGROUND: #1e262a;
$MODAL_HEADER: #1e262a;
$MODAL_BACKDROP_BACKGROUND: #2c2c2ca6;
$MODAL_TEXT: #dfdfdf;
$MODAL_BUTTON_BORDER: #3b3b3b;
$MODAL_BUTTON_BACKGROUND: #fec460;
$MODAL_BUTTON_TEXT: #1b1b1b;
$MODAL_BUTTON_HOVER_TEXT: #fec460;
$MODAL_BUTTON_HOVER_BACKGROUND: #2c2c2c;
$MODAL_BUTTON_ACTIVE_BACKGROUND: #4d4d4d;
