@use 'styles/constants/colors';
@use 'styles/mixins/_animation';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100%;
  overflow: scroll;

  & article {
    height: 100%;
  }
}

.infoText {
  display: flex;
  align-items: center;
  height: 100%;
}

.movieLists {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.scrollTargetLi {
  padding-top: 1px;
}
