@use 'styles/constants/colors';
@use 'styles/mixins/_animation';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100%;
  overflow: scroll;

  & article {
    height: 100%;
  }
}

.infoText {
  display: flex;
  align-items: center;
  height: 100%;
}

.movieLists {
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 40%;
  z-index: 1;
  transform: translateY(-50%);
  animation: rotation 0.5s linear infinite;
}
