@use '/src/styles/constants/colors';

.wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 47px;
  padding: 2px 7px;
  background-color: #201f32;
  border-radius: 28px;
  transform: translateX(-50%);

  & ul {
    display: flex;
    width: 100%;
  }

  & li {
    display: flex;
    width: 100%;
    padding: 0 13px;
  }
}

.menu {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);

  svg {
    height: 100%;
    color: rgb(138, 138, 138);
  }
  text-align: center;
  text-decoration: none;

  &:visited {
    color: rgb(25, 24, 83);
  }

  &:hover {
    background-color: rgb(102, 102, 102);
    border-radius: 20px;
  }

  &:active {
    background-color: rgb(82, 82, 82);
  }
}

.active {
  svg {
    color: rgb(255, 255, 255);
  }
}
