@import 'styles/constants/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: scroll;

  & article {
    height: 100%;
  }
}

.movieLists {
  width: 100%;
  height: 100%;
}
