@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 10%), 0 0 3px 3px #888888, 0 0 0 3px rgba(255, 255, 255, 50%);
    opacity: 0.5;
  }

  75% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 10%), 0 0 5px 5px #888888, 0 0 0 5px rgba(255, 255, 255, 50%);
    opacity: 0.9;
  }

  100% {
    box-shadow: 0 0 0 2px rgba(156, 156, 156, 9.6%), 0 0 3px 3px #cfcfcf, 0 0 0 3px rgba(255, 255, 255, 50%);
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes blowUpContent {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  99.9% {
    opacity: 0;
    transform: scale(2);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 90px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 20px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}
