@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body,
button,
input,
textarea {
  font-family: Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei', sans-serif;
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
